
header{
    display: flex;
    flex-wrap: wrap;

}


header h3 {
    width:50%;
}

header p {
    width: 50%;
    display: flex;
   justify-content: end; 
}


.hide{
    display: none;
}

.choices {
    background-color: blueviolet;
    border-radius: 5px;
    font-size: 30px;
     color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 20px;
    box-shadow: 4px 4px 4px gray;

}


.choices:hover{
    background-color: lightpink;
}

#intro-section, #question-section,#initial-section,#highscore-section{
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 
#question-section ul{
    list-style: none;
    width: 50%;
}


#start-btn {
background-color: blueviolet;
border-radius: 5px;
font-size: 30px;
 color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 10px 20px;
box-shadow: 4px 4px 4px gray;
}

#start-btn:hover{
    background-color: lightpink;
}

#answerFeedback {
    font-style: italic;
    font-size: 20px;

}